{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie 😋</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="static/kfc 1.jpeg" type="image/x-icon">
</head>
<style>
    body{
        background-image: url("static/kfc 1.jpeg");
        padding: 50px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        
    }
    table{
        color:#030632;
        background-color:#E6F695;
        font-weight: bold;
        background-size: 50px;
        touch-action: initial;
        border-color: gray;
        font-style: italic;
    }
</style>
<body>
    <table align="center" border="5xp">
        <tr>
            <th>Name</th>
            <th>Rupess</th>
            <th>Advantage</th>
            <th>Disadvantage</th>
        </tr>
        <tr>
            <td>Grill</td>
            <td>250Rs</td>
            <td>low in calories, low in fat and has a high nutritional value</td>
            <td> contain cholesterol, carcinogens, and contaminants</td>
        </tr>
        <tr>
            <td>fish</td>
            <td>100Rs</td>
            <td>Nutrient Dense: Fish is packed with essential nutrients, including vitamins such as B12 and D, and minerals like iodine, selenium, and zinc.</td>
            <td>Cost: High-quality and sustainable fish can be relatively expensive, making it less accessible to some individuals.</td>
        </tr>
        <tr>
            <td>Egg</td>
            <td>5.25Rs</td>
            <td>Low in Carbohydrates: Eggs are naturally low in carbohydrates, making them suitable for low-carb and ketogenic diets.</td>
            <td>Contaminants: There is a risk of Salmonella contamination in eggs, especially if they are consumed raw or undercooked. Proper cooking and handling can reduce this risk.</td>
        </tr>
        <tr>
            <td>Mutton</td>
            <td>1Kg 750Rs</td>
            <td>Good Source of Protein: Mutton is a good source of high-quality protein, essential for muscle growth, repair, and overall health.</td>
            <td>Calorie Dense: Mutton sukka is calorie-dense, which means it can contribute to weight gain if consumed excessively.</td>
        </tr>
        <tr>
            <td>Nandu Soup</td>
            <td>80Rs</td>
            <td>Rich in Protein: Crab meat is a good source of high-quality protein, which is essential for muscle growth, repair, and overall health.</td>
            <td>Expense: High-quality crab meat can be relatively expensive, making crab soup a pricier dish compared to other soups.</td>
        </tr>
    </table>
</body>
</html>